{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Contact{% endblock %}
{% block body %}
    <h1 class="text-center">Contact</h1>

    <div class="row">
        <div class="col">
            {% if envoi %}
                <div class="alert alert-success" role="alert">
                    Votre message a bien été envoyé !
                </div>
            {% endif %}

            <form action="{% url "contact" %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success" type="submit"/>
            </form>
        </div>
    </div>
{% endblock %}