{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}

    {% if update %}
        Modifier un album

    {% else %}
        Ajouter un album

    {% endif %}

{% endblock %}

{% block body %}
    <h1 class="text-center">
        {% if update %}
            Modifier un Album

        {% else %}
            Ajouter un Album

        {% endif %}
    </h1>
    {% if update %}
        <div class="alert alert-success" role="alert">
            Mise à jour effectuée
        </div>
    {% endif %}
    <div class="row">
        <div class="col">
            {% if envoi %}
                <div class="alert alert-success" role="alert">
                    Votre message a bien été envoyé !
                </div>
            {% endif %}

            <div class="row">
                <div class="col">
                    <form enctype="multipart/form-data" action="" method="post">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <input class="btn btn-success" type="submit"/>
                        {#                        {% if article %}<a class="btn btn-danger" href="{% url 'article-delete' article.id %}">Supprimer</a>{% endif %}#}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}