{% extends 'base.html' %}
{% block title %}
    {{ album.name }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">{{ album.name }}</h1>
                    <p class="card-text">Informations : <br> {{ album.infos }}</p>
                    <p class="card-text">Titres : <br>{{ album.musiques }}</p>
                    <p class="card-text">
                        Artiste{{ album.artistes.all|pluralize }}
                        {% for artiste in album.artistes.all %}
                            <ul>
                                <div class="contenu">
                                    <li>
                                        <a href="{% url 'view-artiste' artiste.id %}">{{ artiste.name }}</a>
                                    </li>
                                </div>
                            </ul>
                        {% empty %}
                            N'a pas encore fait d'album.
                        {% endfor %}
                    </p>
                    <a class="btn btn-success" href="{% url 'update-album' album.id %}">Modifier</a>
                    <a class="btn btn-danger" href="{% url 'delete-album' album.id %}">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}